body {
background-image: url('../img/book-3051871_1920.jpg');
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover ;
}

.container{
    padding: 4rem 2rem ;
}

.btnComments{
text-align: right;
margin: 0.5em 0em;
}

.contenedorComments{
    margin: 1em 0em;
}